/* .table-view {
    display: grid;
    background-color: grey;
    margin: auto;
    
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .table-view, .map-view {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  h2 {
    margin-bottom: 10px;
  }
   */