@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #172b4d;
}

 body {
  font-family: Raleway, sans-serif;
  color: black;
}

header {
  padding: 30px;
  background-color: #4b5156;
  height: 40px;
}

.sidebar {
  width: 250px;
  height: 95vh;
  background-color: #2c81c7;
  padding: 0 30px;
  position: absolute;
  transition: all 1s;
  left: -100%;
}

.sidebar.active {
  left: 0;
}

.dashboard {
  margin-left: 250px;
  padding: 30px;
  color: white;
}

.add-contact {
  margin-left: 250px;
  padding: 30px;
  color: white;
}

.logo {
  width: 5px;
 height: 5px;
} 

ul {
  padding: 0;
}

ul,
li {
  list-style-type: none;
  margin: 10px 0;
}

ul,
li,
link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  padding: 5px 5px;
  border-radius: 5px;
}

ul li link:hover,
ul li link:active {
  background-color: #3b4249;
}

ul li link svg {
  margin-right: 10px;
}

header svg{
  font-size: 30px;
}